@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap");
@import "./App.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.code {
  counter-reset: line;
}

.line::before {
  content: counter(line);
  counter-increment: line;
  margin-right: 1rem;
  color: grey;
}

.blink-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
  color: var(--accent-color);
  font-weight: 100;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
